@CHARSET "UTF-8";

* {
	padding: 0px;
	margin: 0px;
	font-family: arial,sans-serif;
}
body
{
	padding: 0px;
	margin: 0px;
	height: 100%;
	color: #333;
}

a {
	color: #BB3E26;
	text-decoration: none;
}

html,body,div,p,table,td,form,img,h1,h2,h3,h4,h5,h6,input
{
	font-size: 12px;
	font-family:Verdana,Tahoma,Segoe,sans-serif;
}

div.header-back-l {
	height:40px;
	background: url(header-sprite.png) 0 0 no-repeat;
}


div.header-back-r {
	background: url(header-sprite.png) 100% -94px no-repeat;
	height:40px;
	padding: 0 25px;
}

div.header-back-c{
	background: url(header-sprite.png) 0 -47px repeat-x;
	height:40px;
}


div.logo {
	font-size:14px;
	display: block;
	float: left;
	color: #36C;
	font-weight:bold;
	background :url("clock24.png") no-repeat 5px;
	height:25px;
	padding: 8px 12px 5px 32px;
	border-right: 1px solid #CDDEEF;
}

div.headeroper {
	float: right;
	height:25px;
	border-left: 1px solid #CDDEEF;
	padding: 8px;
}


div.pagebar {
    background: url("header_bg-x.png") repeat-x scroll bottom left;
    color: #999999;
    font-size: 14px;
    height: 35px;
    left: 0;
    margin: 0;
    top: 0;
    width: 100%;
	display:block;
}



div.pagebar div.summary {
	float:right;
	right: 50px;
	padding: 7px;
	font-weight: bold;
	color: #069;
}



div.list {
	position: absolute;
	top: 45px;
	left : 8px;
	right: 230px;
	bottom: 0px;
	border: 1px solid #DDD;
}
div.list div.title  div.opers {
	float:left;
	padding: 10px;
}


div.list div.title {
	height:35px;
	background: url("navigation.png");
	border-bottom: 1px solid #DDD;
}


div.list div.title  div.opers {
	float:left;
	padding: 10px;
}


div.details div.label {
    border-bottom: 1px solid #EEEEEE;
    padding: 14px 20px;
    position: relative;
}

div.details div.label input {
    background: none repeat scroll 0 0 #F7F7F7;
    border-color: #CCCCCC #E7E6E6 #E7E6E6 #CCCCCC;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    color: #222222;
    font-size: 1.2em;
    outline: medium none;
    padding: 5px;
}


div.details a.operations {
	color: #7D7D7D;
	text-decoration: none;
	background: none repeat scroll 0 0 #EB5847;
    border: 1px solid #9E281B;
    border-radius: 3px;
    box-shadow: 0 2px 1px #831E12;
    color: #FFFFFF;
    margin-right: 10px;
    padding: 5px;
    text-shadow: 0 -1px 0 #9E281B;
}


div.pageFootbar {
    background: url("image/header_bg-x.png") repeat-x scroll top left transparent;
    color: #999999;
    font-size: 14px;
    height: 30px;
    left: 0;
    margin: 0;
    top: 0;
    width: 100%;
	display:block;
}

div.pageFootbar div.pleaseLogin {
	float: left;
	padding:7px;
}

div.pageFootbar div.pleaseLogin a {
	color: #BB3E26;
	text-decoration: none;
}


div.pageFootbar div.helloUser {
	float: left;
	padding:7px;
	color: #BB3E26;
}


div.pageFootbar div.flipPageBar {
	float: right;
	padding:7px;
	color: #BB3E26;
}



.btn-1 {
	padding: 4px 10px;
	font-weight:bold;
	letter-spacing: -0.03em;
	text-align: center;
	background: #3A8FCE url(bkg-btn-blue.gif) repeat-x 0 top;
	color: white;
	text-shadow: 0 -1px 2px #2063AB;
	border: 1px solid #2F6EA7;
	border-color: #508FCD #4483BF #2F6EA7 #3F7EB9;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}




.page-info {
    line-height: 2;
    padding: 15px 15px 0 45px;
}


.page-info h3 {
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 10px;
    min-height: 24px;
    position: relative;
}

.i-hint {
    background-image: url("icon_hint.png");
    background-repeat: no-repeat;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    left: -27px;
    position: absolute;
    top: 3px;
}

.ico-inf {
    background-position: -60px -35px;
}


.ico-war, .ico-suc, .ico-err, .ico-inf {
    height: 20px;
    width: 20px;
}

div.page-info a {
	float: right;
}



div.quoto div.pagebar {
	overflow: hidden;
	height: 46px;
	width: 800px;
	background: url(mainnav_bg.png) repeat-x top left;
}

#addTimeDiv {
	padding: 4px;	
	float:  left;
}

#times{
	width: 800px;
	margin: 0 auto;
}

#addTimeDiv input {
	color: #4E8F02;
    font-size: 14px;
    font-weight: bold;
    height: 18px;
    width: 200px;
    padding: 4px;	
}

#addTimeDiv a {
    color: #666666;
    text-decoration: none;
}

div.timeItem {
    display: block;
    height: 60px;
    width: 100%;
    --border-bottom: 	1px dashed #DDD;
    background: url("networks.png") left repeat-x transparent;
}

div.timeItem:HOVER {

	background-color:#FAF0C8;
	text-shadow: #ddd 0 1px 0;
}

div.timeItem div.timeDesc {
	padding:10px;
	float: left;
	min-width:400px;
	position: fixed;
}


div.timeItem div.timeStatics {
	padding: 36px 0px 0px 10px;
	float: left;
	min-width:400px;
	color: #7D7D7D;
	font-size: 12px;
	position: fixed;
	text-shadow: 0 1px 0 white;
}

div.timeItem div.timeStatics span.warning {
	color: red;
}


div.timeItem div.timeStatics a.details {
	color: #7D7D7D;
	text-decoration: none;
	background: none repeat scroll 0 0 #EB5847;
    border: 1px solid #9E281B;
    border-radius: 3px;
    box-shadow: 0 2px 1px #831E12;
    color: #FFFFFF;
    margin-right: 10px;
    padding: 1px;
    text-shadow: 0 -1px 0 #9E281B;
}



div.timeItem div.timeDura {
	padding:5px;
	color: black;
	float: right;
	width: 1px;
}
div.timeItem div.timeOper {
	color: black;
	float: right;
	width: 120px;
	font-weight: bold;
	padding-top: 20px;
}
div.running {
	background-color: #d4f1ff; 
}

div.pending {
	background-color: white;
}

div.ended {
	background-color: white;
}


div.overtime {
	background-color: #FA8282; 
}

div.running div.timeOper a {
    border: 0 none;
    color: #333333;
    display: block;
    height: 19px;
    padding: 5px 60px 0 0;
    text-decoration: none;
	background: transparent url('btn_running.gif') no-repeat scroll right top;
}
 
div.pending div.timeOper a {
    border: 0 none;
    color: #333333;
    display: block;
    height: 19px;
    padding: 5px 60px 0 0;
    text-decoration: none;
	background: transparent url('btn_timer.png') no-repeat scroll right top;
}

div.pending div.timeOper a:HOVER {
	background: transparent url('btn_timer.png') no-repeat scroll right -24px;
} 

div.running div.timeOper a span {
	padding-right:50px;
	padding-bottom: 10px;
}



div.nav {
	position: absolute;
	top: 45px;
	right : 8px;
	width: 200px;
	bottom: 0px;
	border: 1px solid #DDD;
	padding: 8px;
}
/*
div.nav ul {
	margin: 0 0 10px 0px;
}
*/
div.nav ul li {
	padding-bottom:10px;
	padding-top:10px;
	list-style: none;
	border-bottom: 1px solid white;
	-moz-box-shadow: inset 0 -1px 0 #E8E8E8;
	-webkit-box-shadow: inset 0 -1px 0 #E8E8E8;
	
}

div.nav ul li span.title {
	background: url(icon-arrow-grey-8x8.gif) no-repeat 1px;
	padding-left: 15px;
	font-size: small;
}


div.nav ul li div.total {
	color: #EB5847;
	font-size:x-large;
	text-align:center;
	width: 182px;
}


div.nav ul li table.tbl-timesummary,div.nav ul li table.tbl-invoicesummary {
	width: 100%;
	border-collapse: collapse;
	border-collapse: separate;
	border-spacing: 2px;
	border-color: gray;
}
table.tbl-timesummary td, table.tbl-invoicesummary td {
	border: 1px #DDD solid;
	padding: 0px;
	width: 50%;
}

table.tbl-timesummary tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}

td, th {
display: table-cell;
vertical-align: inherit;
}


table.tbl-timesummary td.big_link a, table.tbl-invoicesummary td.big_link a {
	padding: 10px;
	margin: 0;
	background: url("btn-arrow.gif") no-repeat 95% center;
	border: 0;
	overflow: hidden;
	height: 40px;
	color: #444;
	display: block;
	font-weight: bold;
	font-size: small;
}
.type-smallgrey {
	color: #999;
	display: block;
	font-size: small;
	font-weight: normal;
	line-height: 1.3em;
	padding: 0 0 2px;
}

.type-largehours {
	font-size: 22px;
	font-weight: normal;
	line-height: 1.3em;
	color: #444;
}

.quoto-btn {
	color: white !important;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	background-image: url(sign-up-btns.png);
	background-repeat: no-repeat;
	background-position: 0 1px;
	height: 24px;
	line-height: 24px;
	padding-left: 12px;
	margin-right: 12px;
	float: left;
}

.quoto-btn span {
	float: left;
	height: 24px;
	line-height: 24px;
	margin-right: -12px;
	position: relative;
	background-image: url(sign-up-btns.png);
	background-repeat: no-repeat;
	background-position: right 1px;
	padding: 0 25px 0 0;
}

.ui-datepicker {
	width: 200px; 
}
