@CHARSET "UTF-8";
.qq-uploader { position:relative; width: 100%;}


.qq-upload-button-hover {background:#F8F8F8}
.qq-upload-button-focus {outline:1px dotted black;}

.qq-upload-drop-area {
    position:absolute; top:0; left:0; width:100%; height:100%; min-height: 70px; z-index:2;
    background:#FF9797; text-align:center; 
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
}
.qq-upload-drop-area-active {background:#FF7171;}

.qq-upload-list {
	padding: 0;
	list-style: disc;
	position: absolute;
	left: 0px;
	top: 0px;
}
.qq-upload-list li { margin:0; padding:0; line-height:15px; font-size:12px;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner {display:inline-block; background: url("loading.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}


.qq-upload-button {
    display:block; /* or inline-block */
    position:absolute;
    right: 0px;
	top: 0px;
    width: 80px; padding: 7px 0; text-align:center;    
    background:#880000; border-bottom:1px solid #ddd;color:#fff;
    cursor: pointer;
}








#terminal {
	padding-top: 30px;
	clear: both;
    height: 55px;
    margin: 0 auto;
    width: 480px;
    
}
#terminal ul {
	display: block;
	list-style: none;
}
#terminal ul.nav li {
	position: relative;
	float: left;
	margin: 12px 0 5px 0;
	display: list-item;
	background: url(images/navi_seperator.png) 100% 1px no-repeat #494738;
}

#terminal ul.nav li a {
   color: white;
    display: block;
    font-size: 13px;
    line-height: 54px;
    margin-left: 50px;
    margin-right:10px;
    padding: 0 5px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 1px #9D9999;
}

#terminal ul.nav li span {
    display: block;
    height: 30px;
    left: 50%;
    margin-left: -30px;
    position: absolute;
    top: 12px;
    width: 30px;
}


#terminal div.itemcontainer {
	padding: 5px;
	border-bottom: 1px solid #D6D6D6;
	border-top: 1px solid white;
	margin: 0;
	border-left: 1px solid #D8E1E2;
	border-right: 1px solid #D8E1E2;
	background: #edf1f2  repeat-y right;
	/*url(images/sidebar.jpg)*/
	display: block;
	min-height: 30px;
	color: #40494A;
}

#terminal div.itemcontainer div.image {
	float: left;
}


#terminal div.itemcontainer div.title {
	padding-left: 5px;
	float:left;
	font-size: 12px;
	width: 260px;
}

#terminal div.itemcontainer div.desc {
	padding-left: 5px;
	float:left;
	color: #92999C;
	width: 80px;
}
#terminal div.itemcontainer div.oper {
	float: right;
	padding-top:10px;
	width: 70px;
}

#terminal div.itemcontainer div.oper a {
	padding:3px;
	margin:2px;
	width:50px;
	text-align: center;
	background: #494738 repeat-x top left;
	color: #CCC;
}

#times div.timeDesc {
	padding:5px;
	float: left;
	width: 300px;
}
#times div.timeDura {
	padding:5px;
	color: black;
	float: left;
	width: 1px;
}
#times div.timeOper {
	color: black;
	float: right;
	width: 120px;
}
div.running {
	background-color: #d4f1ff; 
}

div.running div.timeOper a {
    border: 0 none;
    color: #333333;
    display: block;
    height: 19px;
    padding: 5px 60px 0 0;
    text-decoration: none;
	background: transparent url('/office/image/btn_running.gif') no-repeat scroll right top;
}
 
div.pending div.timeOper a {
    border: 0 none;
    color: #333333;
    display: block;
    height: 19px;
    padding: 5px 60px 0 0;
    text-decoration: none;
	background: transparent url('/office/image/btn_timer.png') no-repeat scroll right top;
}

div.pending div.timeOper a:HOVER {
	background: transparent url('/office/image/btn_timer.png') no-repeat scroll right -24px;
} 

div.running div.timeOper a span {
	padding-right:50px;
	padding-bottom: 10px;
}


#timeTotal{
	padding-top:8px;
	padding-right: 5px;
	color: black;
	float: right;
	color: black;
	
}

input[type="submit"] {
	background-image: -webkit-gradient(linear,left top,left bottom,from(#F8F8F8),to(#F1F1F1));
	background-image: -webkit-linear-gradient(top,#F8F8F8,#F1F1F1);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	background-color: #F8F8F8;
	background-image: linear-gradient(top,#F8F8F8,#F1F1F1);
	background-image: -o-linear-gradient(top,#F8F8F8,#F1F1F1);
	border: 1px solid #C6C6C6;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	color: #333;
}
