@CHARSET "UTF-8";
* {
	padding: 0px;
	margin:  0px;
}

a {
    color: #2A78B4;
    cursor: pointer;
    text-decoration: none;
    vertical-align: baseline;
}



#topmenu {
	border: 1px solid #456F9A;
	background: #5E87B0;
	color: white;
	font-weight: bold;
	text-shadow: 0 -1px 1px #254F7A;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#81a8ce),to(#5e87b0));
	background-image: -webkit-linear-gradient(#81a8ce,#5e87b0);
	background-image: -moz-linear-gradient(#81a8ce,#5e87b0);
	background-image: -ms-linear-gradient(#81a8ce,#5e87b0);
	background-image: -o-linear-gradient(#81a8ce,#5e87b0);
	background-image: linear-gradient(#81a8ce,#5e87b0);
	border-image: initial;
	height: 35px;
	padding: 5px;
}

a.simple-button {
	background: #41B7D8;
	transition: background-color 0.2s;
	-webkit-transition: background-color 0.2s;
	-webkit-border-radius: 5px;
	color: white;
	display: inline-block;
	padding: 7px 10px;
	margin-right: 10px;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(233, 92, 51, 1)),color-stop(100%,rgba(229, 59, 44, 1)));
	background: -webkit-linear-gradient(top,rgba(233, 92, 51, 1) 0%,rgba(229, 59, 44, 1) 100%);
	background-color: #E95C33;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.4);
	
}


#topmenu ul {
	display: inline;
	list-style: none outside none;
}

ul.left {
	float:left;
}

ul.right {
	float:right;
}

#topmenu ul li {
	display: inline;
    float: left;
    position: relative;
    margin-right: 10px;
}

#topmenu ul li.icon {
	margin-top: 10px;
	margin-left: 5px;
}

#topmenu li.m_total span {
	background: rgba(162, 162, 162, 0.2);
	margin: 5px;
	border-radius: 8px;
	padding: 4px;
	color: #CCC;
	font-size: 16px;
	font-weight: bold;
	display: block;
}

#topmenu li.m_chart a {
	background: url("pie_chart_red.png") no-repeat;
	padding: 10px 2px 5px 30px;
}

#topmenu li.m_calendar a {
	background: url("date_magnify.png") no-repeat;
	padding: 10px 2px 5px 30px;
	color: white;
}


div.panel {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display:none;
}


div.content {
    background: url("index_jb.jpg") repeat-x scroll 0 -40px transparent;
    border-left: 1px solid #CBCBCB;
    border-bottom: 1px solid #CBCBCB;
    clear: both;
    height: 60px;
    overflow: hidden;
    padding: 0 15px 0 25px;
    position: relative;
    
}

div.running {
    background: url("index_jb.jpg") repeat-x scroll 0 20px transparent;
}

div.timeDesc {
	padding: 10px;
	float: left;
	color: #2A78B4;
	font-weight:bold;
	position: fixed;
}

div.timeStatics {
	padding: 36px 0px 0px 10px;
	float: left;
	min-width: 80px;
	color: #7D7D7D;
	font-size: 14px;
	position: fixed;
	text-shadow: 0 1px 0 white;
}

div.timeOper {
	color: black;
	float: right;
	width: 90px;
	font-weight: bold;
	padding-top: 20px;
}


div.timeOper a {
	border: 0 none;
	color: #333;
	display: block;
	height: 19px;
	padding: 2px 40px 2px 0;
	text-decoration: none;
}
div.running div.timeOper a {
	background: transparent url('btn_running.gif') no-repeat scroll right top;
}

div.timeOper a span {
	font-size:14px;
	color: black;
}

div.pending div.timeOper a {
	background: transparent url('btn_timer.png') no-repeat scroll right -1px;
}


div.pending div.timeOper a:hover {
	background: transparent url('btn_timer.png') no-repeat scroll right -24px;
}



div.label {
	border-bottom: 1px solid #EEE;
	padding: 14px 20px;
}


div.label input {
	background: none repeat scroll 0 0 #F7F7F7;
	border-color: #CCC #E7E6E6 #E7E6E6 #CCC;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	color: #222;
	font-size: 1.2em;
	outline: medium none;
	padding: 5px;
}

div.label a.operations {
	color: #7D7D7D;
	text-decoration: none;
	font-size:1.2em;
	background: none repeat scroll 0 0 #2A78B4;
	border: 1px solid #2A78B4;
	border-radius: 3px;
	box-shadow: 0 2px 1px #A6D8FF;
	color: white;
	margin-right: 10px;
	padding: 5px;
	text-shadow: 0 -1px 0 #A6D8FF;
}


#topmenu a.button {
	display: inline-block;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.3);
	box-shadow: 0 1px 0 rgba(255,255,255,.3);
	text-align: center;
	cursor: pointer;
	position: relative;
	-webkit-border-radius: 1em;
	border-radius: 1em;
	border: 1px solid #145072;
	background: #2567AB;
	font-weight: bold;
	color: white;
	text-shadow: 0 -1px 1px #145072;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#5f9cc5),to(#396b9e));
	background-image: -webkit-linear-gradient(#5f9cc5,#396b9e);
	background-image: linear-gradient(#5f9cc5,#396b9e);
	--padding: 8px 5px;
}

#topmenu a.button>span.innerspan {
	border-top: 1px solid white;
border-color: rgba(255, 255, 255, .3);
	padding-right: 27px;
	display: block;
	padding: .4em 8px .5em;
	text-overflow: ellipsis;
	white-space: nowrap;
	zoom: 1;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	font-weight: bold;
	color: white;
	text-shadow: 0 -1px 1px #145072;
	-webkit-border-radius: 1em;
	border-radius: 1em;
}

#topmenu a.button>span.innerspan > span.icon-cal {
	background-position:  -432px 50%; 
}

#topmenu a.button>span.innerspan > span.icon-pie {
	background-position:  -612px 50%; 
}
#topmenu a.button>span.innerspan > span.icon-home {
	background-position:  -576px 50%; 
}
#topmenu a.button>span.innerspan > span.icon-save {
	background-position:  -252px 50%; 
}
#topmenu a.button>span.innerspan > span.icon-cancel {
	background-position:  -396px 50%; 
}
#topmenu a.button>span.innerspan > span.icon-remove {
	background-position:  -72px 50%; 
}


 span.ui-icon {
	left: 4px;
	position: absolute;
	top: 50%;
	margin-top: -9px;
	width: 18px;
	height: 18px;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.4);
	box-shadow: 0 1px 0 rgba(255,255,255,.4);
	background: rgba(0, 0, 0, .4);
	background-image: url(icons-18-white.png);	
	background-repeat: no-repeat;
	-webkit-border-radius: 9px;
	border-radius: 9px;
}


#topmenu a.button>span.innerspan > span.text {
	position: relative;
	white-space: nowrap;
	text-align: center;
	font-weight: bold;
	color: white;
	text-shadow: 0 -1px 1px #145072;
	margin-left: 16px;
}
