@CHARSET "UTF-8";

body {
	background: #285a73 url(img/body-bg.jpg) top left repeat-x;
	margin: 0;
	padding: 0;
	width: 100%;
	max-width: 2000px;
}

div.top {
	margin: 0 auto;
	width: 980px;
	height: 4em;
}

#nav {
	margin: 0 0 0 9em;
	list-style: none;
	width: 100%;
}

#nav li {
	float: left;
	padding: 0;
	padding-left: 0;
	padding-right: 2px;
	position: relative;
	background: url(img/nav_separator.png) no-repeat scroll right 0
		transparent;
}

#nav a {
	float: left;
	display: block;
	padding: 1em 1.5em;
	font-size: 85%;
	font-family: "宋体";
	font-weight: bold;
	color: #787878;
	text-decoration: none;
}

#nav a:hover {
	padding: 1em 1.5em;
	color: #6D6D6D;
}

#content {
	margin: 0 auto;
	width: 980px;
	font-size: 95%;
	line-height: 1em;
	color: #333;
	height: 520px;
	background: url(img/bjt.png) no-repeat scroll 0 360px;
}

#content h2 {
	margin: 0 0 1em 0;
	padding: .5em 2em;
	font-family: "微软雅黑";
	font-size: 130%;
	font-weight: normal;
	color: #663;
}

#cotenter .gutter {
	background: url(img/tab-backg.png) no-repeat scroll 0 30px;
}

#content .gutter img {
	float: right;
	margin: 0 0 .5em 0;
	padding: .5em .5em;
}

#content .gutter ul li {
	margin: 0 0 1em 0;
	padding: 1em 0 .5em 0;
	background: url(img/tab-bg.png) no-repeat scroll 0 3em;
}

#sidebar {
	margin: -5px auto;
	width: 980px;
	overflow: hidden;
}

.box {
	-moz-border-radius: 5px 5px 5px 5px;
	-moz-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
	background: url(img/bg-section.gif) repeat-x scroll 0 0
		rgba(255, 255, 255, 0.9);
	margin: 0 auto;
	width: 90%;
	padding: 0 0 2em 0;
	line-height: 1.5em;
}

.box h3 {
	margin: 0;
	padding: .5em 1em;
	font-family: "微软雅黑";
	font-size: 130%;
	font-weight: normal;
	color: #693;
}

.box ul {
	margin: 1em 0 0 .5em;
	padding: 1em 0 0 1em;
}

.box ul li {
	margin: 0 0 0 1em;
	padding: 0 0 0 1.5em;
	list-style: none;
}

#sidebar .gutter {
	padding: .5em;
}

#footer {
	float: left;
	clear: both;
	height: 1%;
}

#footer ul li {
	list-style: none;
	width: 100%;
	margin: 0 10em 0 10em;
	padding: 0;
	font-size: 85%;
	font-family: "微软雅黑";
	color: #fff;
}

#footer a {
	float: left;
	margin: 0 .5em;
	padding: .5em 1em;
	display: block;
	font-size: 85%;
	text-decoration: none;
	color: #F2F2F2;
}

#footer a:hover {
	float: left;
	margin: 0 .5em;
	padding: .5em .5em;
	color: #FFFFFF;
	font-size: 85%;
}

/** 
  slider css
  */ /* Easy Slider */
#slider ul,#slider li,#slider2 ul,#slider2 li {
	margin: 0;
	padding: 0;
	list-style: none;
}

#slider2 {
	margin-top: 1em;
}

#slider li,#slider2 li { /* 
			define width and height of list item (slide)
			entire slider area will adjust according to the parameters provided here
		*/
	width: 980px;
	height: 430px;
	overflow: hidden;
}

#prevBtn,#nextBtn,#slider1next,#slider1prev {
	display: block;
	width: 30px;
	height: 77px;
	position: absolute;
	left: -30px;
	top: 71px;
	z-index: 1000;
}

#prevBtn a,#nextBtn a,#slider1next a,#slider1prev a {
	display: block;
	position: relative;
	width: 30px;
	height: 77px;
	background: url(images/btn_prev.gif) no-repeat 0 0;
}

#nextBtn a,#slider1next a {
	background: url(images/btn_next.gif) no-repeat 0 0;
}

/* numeric controls */
ol#controls {
	margin-left: 450px;
	padding: 0;
	height: 28px;
}

ol#controls li {
	margin: 0 10px 0 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 28px;
	line-height: 28px;
}

ol#controls li a {
	height: 28px;
	line-height: 28px;
	border: 1px solid #ccc;
	background: #DAF3F8;
	color: #555;
	padding: 0 10px;
	text-decoration: none;
}

ol#controls li.current a {
	background: #5DC9E1;
	color: #fff;
}

ol#controls li a:focus,#prevBtn a:focus,#nextBtn a:focus {
	outline: none;
}
