@CHARSET "UTF-8";
body
{
	padding: 0px;
	margin: 0px;
	background-image: url('images/body_bg.gif');
	background-repeat: repeat-x;
}

html,body,div,p,table,td,form,img,h1,h2,h3,h4,h5,h6,input
{
	font-size: 12px;
	color: #494738;
	font-family:Verdana,Tahoma,Segoe,sans-serif;
}
p {
 	margin-top: 3px;
 	margin-bottom: 3px;
}
img
{
    border-width: 0px;
}
ul,h1,h2,h3,h4,h5,h6
{
    margin: 0px;
	padding: 0px;
    list-style-type: none;
    color: Black;	
}

a
{
	text-decoration: none;
	color: #666;
}
a:hover
{
	text-decoration: none;
	color: #f60;
}


input {
    border: 1 solid #FFFFFF;
    color: #4E8F02;
    font-size: 14px;
    font-weight: bold;
    height: 18px;
    margin-top: 7px;
    width: 100px;
}

#header_main {
    -moz-transition: background-color 0.4s linear 0s;
    color: #999999;
    width: 100%;
}

#nav_cont {
    -moz-transition: all 0.4s linear 0s;
    color: #0044CC;
    position: absolute;
    right: 15px;
    padding-top: 20px;
}


.awesome, .awesome:visited {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    background-color: #0044CC;
    cursor: pointer;
    display: inline-block;
    font-family: helvetica,arial,sans-serif;
    padding: 5px 10px 6px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}

.awesome a {
    color: #FFFFFF;
}

.blue.awesome:hover {
    background-color: #2266FF;
}

.awesome:active {
    top: 1px;
}

.awesome, .awesome:visited, .medium.awesome, .medium.awesome:visited {
    font-size: 13px;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}

#logo {
    clear: both;
    height: 55px;
    margin: 0 auto;
    padding-top: 170px;
    width: 252px;
}


#terminal {
	padding-top: 30px;
	clear: both;
    height: 55px;
    margin: 0 auto;
    width: 480px;
    
}
#terminal ul {
	display: block;
	list-style: none;
}
#terminal li {
	position: relative;
	float: left;
	margin: 12px 0 5px 0;
	display: list-item;
	background: url(images/navi_seperator.png) 100% 1px no-repeat #494738;
}

#terminal li a {
   color: white;
    display: block;
    font-size: 13px;
    line-height: 54px;
    margin-left: 60px;
    padding: 0 5px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 1px #9D9999;
}

#terminal li span {
    display: block;
    height: 30px;
    left: 50%;
    margin-left: -30px;
    position: absolute;
    top: 12px;
    width: 30px;
}


div#toolbar_container {
    -moz-transition: background-color 0.4s linear 0s;
    background-color: #FFFFFF;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
}

