body {
	margin: 0;
	text-align: center;
	font: 80% Verdana, sans-serif;
	color: #333;
}

h1 {
	margin: 0 0 .5em;
	border-bottom: 1px solid #ccc;
	padding: .5em 0 .4em;
	font-size: 2.8em;
	font-weight: normal;
	font-family: 'Vollkorn', arial, serif;
	color: #e9e9e9;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, .6);
}

h2 {
	margin: 0 0 .1em;
	font-size: 1.2em;
	color: #555;
}

a {
	color: #b10a1e;
	text-decoration: none;
}

a:hover,a:focus {
	color: #e1263c;
	cursor: pointer;
}

input[type="text"],select {
	border: 1px solid #ccc;
	min-width: 12em;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

input,select,label {
	vertical-align: middle;
}

label+textarea {
	vertical-align: top;
}

.elems {
	margin: 7px 0 0;
	padding: 0;
	list-style: none;
}

.elem {
	display: block;
	margin: 0 0 1em;
	color: #555;
	cursor: pointer;
}

.textbox,.select,.textarea,.button {
	border: 1px solid #bbb;
	padding: .5em;
	background: #f6f6f6;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
}

.select {
	background: #f6f6f6 url(select.gif) no-repeat 98% .75em;
}

.textarea {
	padding-bottom: 65px;
}

.checkbox,.radio {
	padding: .5em .5em .5em 30px;
}

.checkbox {
	background: #fff url(checkbox.gif) no-repeat 0 50%;
}

.radio {
	background: #fff url(radio.gif) no-repeat 0 55%;
}

.button {
	display: inline-block;
	color: #fff;
}

.button:hover,.button:focus {
	color: #ddd;
}

.ed {
	display: inline-block;
	padding: .4em;
	border: 1px dotted #ccc;
}

.x {
	padding: 0 5px 2px;
	font-weight: bold;
	text-decoration: none;
}

.felem {
	position: relative;
	margin: 1em 0;
	padding: 1em 1em .8em;
	border: 1px solid #eee;
}

.felem:hover {
	cursor: pointer;
}

.felem>.x {
	position: absolute;
	top: 2px;
	right: 2px;
}

.excl {
	position: absolute;
	top: 4px;
	right: 21px;
	padding: 0 .5em;
	border-right: 1px solid #ddd;
	font-size: .8em;
	color: #444;
}

.felem .element {
	margin: 0;
	border-color: #fff;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.st {
	position: relative;
	font-size: .9em;
}

.st div {
	margin: .3em;
}

.st label {
	display: inline-block;
	width: 8em;
}

.select .x {
	margin-left: 1em;
	border: 1px solid #ddd;
}

menu {
	margin: 1em 0 0;
	padding: 0;
	list-style: none;
	float: right;
}

menu li {
	display: inline;
	padding: 0 10px;
}

menu a {
	border: 1px solid #f0f0f0;
	padding: .5em;
	background: #f5f5f5;
}

menu a:hover {
	background: #f8f8f8;
}

.showhtml {
	border-right: 1px solid #e0e0e0;
	font-weight: bold;
}

.tl {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 1.1em;
}

.tl a {
	float: left;
	margin: 0 .2em -1px 0;
	border: 1px solid #e0e0e0;
	padding: .4em;
	color: #666;
	background: #f0f0f0;
}

.tl a:hover,.tablist a:focus {
	background: #e0e0e0;
	outline: none;
}

.tl a.active {
	border-bottom-color: #fff;
	color: #333;
	background: #fff;
}

.tp {
	clear: both;
	border: 1px solid #e0e0e0;
	margin-bottom: 2em;
	padding: 1.2em;
	-moz-border-radius: 0 .7em .7em;
	-webkit-border-radius: 0 .7em .7em;
	border-radius: 0 .7em .7em;
}

#uhtml {
	display: none;
	white-space: pre;
	font-size: 1.1em;
	overflow: auto;
}

.main {
	position: relative;
	width: 80%;
	margin: 2em auto;
	text-align: left;
}

#src {
	float: left;
	width: 15%;
	position: fixed;
}

#src p {
	margin: 40px 0 15px;
	color: #777;
	font-size: .9em;
	line-height: 140%;
}

#dst {
	float: right;
	width: 80%;
}

#farea {
	margin: .4em 0 1em;
	border: 1px solid #ddd;
	padding: .5em 1.5em;
	min-height: 26em;
	-moz-border-radius: .7em;
	-webkit-border-radius: .7em;
	border-radius: .7em;
}

.rg {
	background: #8e0111;
	background: -moz-linear-gradient(top, #670108, #af0915);
	background: -webkit-gradient(linear, left top, left bottom, from(#670108),
		to(#af0915) );
}

.nos,.elems .elem {
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.mm {
	display: none;
}